 .App {
  text-align: center;
  background: #61dafb;
  height: 100vh;
  overflow:auto;
}

/* .body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
} */
/* 
#root {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
 */


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/*
// How to spin an image in 2d

 @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

  @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
}  */
