@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap");

//bootstrap override
/* The following block can be included in a custom.scss */

/* make the customizations */
// $theme-colors: (
//   "info": tomato,
//   "danger": #39ff14,
// );

// /* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
  position: relative;
  height: 100vh;
  /* the cursor is some kind of work around..*/
  /* cursor: url('./images/BattleAxe/DestinyAxeSmall.png'), auto; */
  overflow: hidden;
  font-family: monospace;
}

// #url_public_id {
//   display: none;
// }

.navName {
  color: white !important;
}

.jumboTron {
  color: #39ff14 !important;
  z-index: 999;
  // position: relative;
  opacity: 0.9;
  font-size: 1rem;
}

.canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.customContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.navGradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, #20232a, #343a40 100%);
}
