@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;562;600;700&display=swap");

//bootstrap override
/* The following block can be included in a custom.scss */

/* make the customizations */
// $theme-colors: (
//   "info": tomato,
//   "danger": #39ff14,
// );

// /* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
  position: relative;
  height: 100vh;
  /* the cursor is some kind of work around..*/
  /* cursor: url('./images/BattleAxe/DestinyAxeSmall.png'), auto; */
  overflow: hidden;

  font-family: monospace;
}

.container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 400px) {
  .container {
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
  }
}

@media only screen and (max-height: 500px) {
  .container {
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
  }
}

// #url_public_id {
//   display: none;
// }

.navName {
  color: white !important;
}

.jumboTron {
  color: #37ff14e8 !important;
  // text-shadow: 1px 1px 2px green;
  z-index: 99;
  // position: relative;
  opacity: 0.9;
  font-size: 1rem;
  box-shadow: -1px 1px 20px white;
}

.canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.customContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.navGradient {
  // background: rgb(0, 0, 0);
  // background: linear-gradient(0deg, #20232a, #343a40 100%);
}

.skipIntro {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin-right: 5vw;
  margin-bottom: 5vh;

}


.opacity-0 {
  opacity:0!important;
}
.opacity-1 {
  opacity:0.2!important;
}
.opacity-2 {
  opacity:0.4!important;
}
.opacity-3 {
  opacity:0.6!important;
}
.opacity-4 {
  opacity:.8!important;
}
.opacity-5 {
  opacity:1!important;
}